@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #fff;
    margin: 0 auto;
    padding: 0 50px;
}

/* Bloc avec l'entête du site */
header{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
    margin-bottom: 5px;

}

.navbar a img{
    width: 61.09px;
    height: 19px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2vw;
}

nav a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

nav a:hover,
nav a:active,
nav a:focus{
    color: #0065FC;
}

nav a::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover::before,
nav a:focus::before,
nav a:active::before {
    background-color: #0065FC;
}

/* Bloc avec le contenu principal du site */
main{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/* Titres de la page */
h1{
    width: 100%;
    font-size: 22px;
}

.subtitle{
    width: 100%;
    padding: 15px 0;
}

/* Input de recherche */
form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
}

.location{
    width: 50px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    z-index: 1;
    cursor: pointer;
}

.location .fa-location-dot{
    font-size: 18px;
}

input[type="text"]{
    width: 100%;
    max-width: 332px;
    height: 49px;
    border: 1px solid #f2f2f2;
    font-size: 18px;
    font-weight: 700;
    padding-left: 67px;
    background: #fff;
    border-radius: 15px;
    margin-left: -50px;
}

input[type="text"]::placeholder{
    color: black;
    font-family: 'Raleway', sans-serif;
}

input[type="text"]:focus{
    outline: none;
}

.original-find-button{
    padding: 14px 16px;
    margin-left: -40px;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    background: #0065fc;
    font-size: 18px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    z-index: 1;
    cursor: pointer;
}

.original-find-button i{
    display: none;
}

/* Filtres */
.filters{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
}

.filters-grid{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1vw;
}

.filters-title{
    font-size: 18px;
}

.filters button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    white-space: nowrap;
    min-height: 50px;
    padding: 10px 24.5px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    background: none;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: background .3s ease;
}

.filters button i {
    color: #0065fc;
}

.filters button:hover{
    background: #deebff;
}

/* Info */
.infos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 11px;
    padding: 40px 0;
}

.infos .fa-info{
    border-radius: 25px;
    aspect-ratio: 1 / 1;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    font-size: 0.6rem;
    color: #0065fc;
    font-weight: bold;
}

/* Section principale avec les hébergements */
.top-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

/* Bloc: Hébergements à Marseille */
.hostings-container{
    position: relative;
    width: 100%;
    max-width: 880px;
    height: auto;
    min-height: 626px;
    object-fit: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #f2f2f2;
    padding: 93px 10px 40px;
    gap: 20px;
}

.hostings-container-title{
    position: absolute;
    left: 40px;
    top: 42px;
    white-space: nowrap;
    font-size: 22px;
}

.hostings-grid{
    max-width: 800px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 0;
    margin-bottom: 40px;
}

.hostings-card{
    position: relative;
    width: 33%;
    max-width: 246px;
    height: 199px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    box-shadow: 0 0 10px #d9d9d9;
    text-decoration: none;
    transition: transform 0.2s ease-in;
}

.hostings-card:hover{
    transform: scale(1.05);
}

.hostings-card img {
    flex-grow: 1;
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #FFFF;
}

.infos-hostings-card{
    padding: 2px 0 11px 16px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.infos-hostings-card h3{
    font-size: clamp(13.5px, 1vw, 16px);
    white-space: nowrap;
}

.infos-hostings-card p{
    font-size: 14px;
}

.infos-hostings-card span{
    left: 16px;
    bottom: 11px;
    font-size: 12px;
    color: #f2f2f2;
}  

.infos-hostings-card span .fa-star:nth-child(-n+4){
    color: #0065fc;
}

.show-more{
    position: absolute;
    left: 44px;
    bottom: 46px;
    font-size: 18px;
    font-weight: 700;
    padding-top: 40px;
    white-space: nowrap;
}

/* Bloc: Les plus populaires */
.populars-container{
    position: relative;
    width: 420px;
    height: 625px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 93px 10px 40px;
    background: #f2f2f2;
}

.populars-container .fa-chart-line{
    position: absolute;
    top: 46px;
    right: 42px;
    color: #0065FC;
}

.populars-container-title{
    position: absolute;
    top: 41px;
    left: 37px;
    font-size: 22px;
}

.populars-grid{
    max-width: 343px;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.populars-card{
    width: 100%;
    min-width: 343px;
    height: 144px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    background: white;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 10px #d9d9d9;
    transition: transform 0.2s ease-in;
}

.populars-card:hover{
    transform: scale(1.05);
}

.populars-card img {
    width: 137px;
    height: 144px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #FFFF;
}

.infos-populars-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 16px 22px 0 0;
}

.infos-populars-card h3{
    font-size: 16px;
    line-height: 18.78px;
    padding-bottom: 7px;
}

.infos-populars-card p{ 
    font-size: 14px;
}

.infos-populars-card span{
    position: absolute;
    bottom: 12px;
    font-size: 12px;
    color: #f2f2f2;
}

.infos-populars-card span .fa-star:nth-child(-n+4){
    color: #0065fc;
}

/* Bloc: Activités à Marseille */
.activities-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 60px;
}

.activities-container-title{
    padding: 60px 0 30px;
    font-size: 22px;
}

.activities-grid{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.activities-card{
    position: relative;
    width: 25%;
    max-width: 302px;
    height: 445px;
    border-radius: 20px;
    box-shadow: 0 0 10px #d9d9d9;
    overflow: hidden;
}

.activities-card img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform .5s ease;
}

.activities-card:hover img{
    transform: scale(1.03);
}

.activities-name{
    position: absolute;
    bottom: -0.49px;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #ffff;
}

.activities-name h3{
    font-size: 16px;
    padding-left: 1.1vw;
    color: black;
}

/* Pied de page */
footer{
    width: 100%;
    max-width: 1400px;
    height: auto;
    min-height: 225px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 15vw;
    padding: 0 0 30px 70px;
    background: #f2f2f2;
}

.footer-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

.footer-column h2{
    font-size: 18px;
    padding: 45px 0 6px;
}

.footer-column a{
    text-decoration: none;
    color: black;
}

/* Media Queries */
@media screen and (max-width: 992px){
    .top-section{
        flex-direction: column;
        gap: 0;
    }
    .hostings-container{
        max-width: 100%;
    }
    .infos-hostings-card h3{
        font-size: 16px;
    }
    .populars-container{
        width: 100%;
        height: auto;
        margin-top: 53px;
        padding: 86px 10px 48px;
    }
    .populars-grid{
        max-width: 100%;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3%;
    }
    .populars-card{
        max-width: 252px;
        min-width: auto;
        width: 33%;
    }
    .populars-card img{
        width: 106px;
    }
    .infos-populars-card{
        padding: 16px 2px 0 0;
    }
    .infos-populars-card h3{
        font-size: 1.45vmax;
    }
    .infos-populars-card p{
        font-size: 1.35vmax;
    }
    .activities-container-title{
        padding: 70px 0 34px
    }
    .activities-card{
        width: 182px;
        height: 267px;
    }
    footer{
        min-height: 225px;
        padding: 0 20px 30px 70.21px;
        gap: 82px;
        margin: 0 auto;
    }
    /* Suppression des effets au hover */
    .hostings-card:hover,
    .populars-card:hover,
    .activities-card:hover img{
        transform: none;
    }
}

@media screen and (max-width: 768px){
    body{
        padding: 0;
    }
    .navbar{
        height: 100%;
    }
    .navbar a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 100%;
    }
    nav{
        width: 100%;
        gap: 0;
    }
    nav a{
        text-align: center;
        width: 100%;
        position: relative;
    }
    nav a::before {
        height: 3px;
        bottom: 0;
        left: 0;
        top: unset;
    }
    .header-section{
        padding: 0 20px;
    }
    h1{
        padding: 31px 0 0;
    }
    .subtitle{
        padding: 13px 0 16px;
    }
    form{
        justify-content: center;
        padding-bottom: 20px;
    }
    .original-find-button p{
        display: none;
    }
    .original-find-button i{
        display: block;
    }
    .filters{
        flex-direction: column;
    }
    .filters-title{
        width: 100%;
        padding: 14px 0 15px;
    }
    .filters-grid{
        width: 100%;
        display: grid;
        justify-content: center;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 14px;
        padding-bottom: 40px;

    }
    .filters button{
        width: 100%;
        height: 50px;
        font-size: 11px;
        justify-content: flex-start;
        padding: 0 0 0 13px;
        margin: 0 20px;
        gap: 5px;
    }
    .filters button i{
        font-size: 18px;
    }
    .infos{
        width: 100%;
        padding: 0 0 17px;
    }
    .top-section{
        flex-direction: column-reverse;
    }
    .populars-container{
        min-height: 580px;
        border-radius: 0;
        margin: 0;
        padding: 80px 20px 47px;
    }
    .populars-container .fa-chart-line{
        top: 35px;
        right: 20px;
    }
    .populars-container-title{
        top: 28px;
        left: 20px;
    }
    .populars-grid{
        flex-direction: column;
        gap: 10px;
    }
    .populars-card{
        min-width: 100%;
    }
    .infos-populars-card h3{
        font-size: 16px;
    }
    .infos-populars-card p{
        font-size: 14px;
    }
    .hostings-container{
        background: #fff;
        border-radius: 0;
        padding: 71px 20px 40px;
    }
    .hostings-container-title{
        top: 26px;
        left: 20px;
    }
    .hostings-grid{
        flex-direction: column;
        gap: 12px;
    }
    .hostings-card{
        width: 100%;
        max-width: 100%;
        height: 199px;
    }
    .hostings-card img{
       width: 100%;
       height: 124px; 
    }
    .infos-hostings-card{
        width: 100%;
    }
    .show-more{
        display: none;
    }
    .activities-container-title{
        width: 50vw;
        padding: 50px 0 34px 20px;
    }
    .activities-grid{
        flex-direction: column;
        gap: 24px;
        margin: 0;
        padding: 0 20px;
    }
    .activities-card{
        width: 100%;
        max-width: 100%;
        height: 190px;
    }
    .activities-name{
        padding-left: 20px;
    }
    footer{
        height: auto;
        flex-direction: column;
        margin: 0;
        padding: 0 0 61px 30px;
        gap: 40px;
    }
}