/* Resest */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #fff;
    margin: 0 auto;
    padding: 0 50px;
}

main{
    max-width: 1400px;
    margin: 0 auto;
}

/* Navbar */
.navbar{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img{
    width: 61.09px;
    height: 19px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

nav a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

nav a:hover,
nav a:active,
nav a:focus{
    color: #0065FC;
}

/* test */
nav a{
    text-align: center;
    width: 100%;
    position: relative;
}

nav a::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 44px;
    left: 0;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover::before,
nav a:focus::before,
nav a:active::before {
    background-color: #0065FC;
}

/* Titres de la page */
h1{
    font-size: 22px;
    padding-top: 30px;
}

.subtitle{
    padding: 15px 0;
}

/* Input de recherche */
form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
}

.location{
    width: 50px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    z-index: 1;
    cursor: pointer;
}

.location .fa-location-dot{
    font-size: 18px;
}

input[type="text"]{
    width: 332px;
    height: 49px;
    border: 1px solid #f2f2f2;
    font-size: 18px;
    font-weight: 700;
    padding-left: 40px;
    background: #fff;
    border-radius: 15px;
    margin-left: -20px;
}

input[type="text"]::placeholder{
    color: black;
    font-family: 'Raleway', sans-serif;
}

input[type="text"]:focus{
    outline: none;
}

.original-find-button,
.little-find-button{
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    background: #0065fc;
    font-size: 18px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    z-index: 1;
    cursor: pointer;
}

.original-find-button{
    padding: 14px 16px;
    margin-left: -60px;
}

.little-find-button{
    display: none;
    margin-left: -50px;
    width: 49px;
    height: 49px;
}


/* Filtres */
.filters{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    padding: 20px 0;
}

.filters h3{
    font-size: 18px;
}

.filters button{
    padding: 6px 12px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    background: none;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: background .3s ease;
}

.filters button i {
    padding: 5px;
    color: #0065fc;
}

.filters button:hover{
    background: #deebff;
}

/* Info */
.infos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
    padding: 20px 0;
}

.infos .fa-info{
    border-radius: 25px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    font-size: 0.6rem;
    color: #0065fc;
    font-weight: bold;
}

/* Section principale avec les hébergements */
.top-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Bloc de gauche */
.hostings-container{
    position: relative;
    width: 880px;
    min-height: 626px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}

.hostings-container-title{
    position: absolute;
    left: 40px;
    top: 42px;
    white-space: nowrap;
    font-size: 22px;
}

.hostings-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2vw;
}

.hostings-card{
    position: relative;
    width: 246px;
    height: 199px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    box-shadow: 0 0 10px #d9d9d9;
    text-decoration: none;
    transition: transform 0.2s ease-in;
}

.hostings-card:hover{
    transform: scale(1.05);
}

.hostings-card img {
    width: 246px;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #FFFF;
}

.infos-card{
    /* position: absolute;
    bottom: 32px;
    left: 16px; */
    position: relative;
    padding: 4px 0 32px 16px;
}

.infos-card h3{
    font-size: 16px;
    line-height: 18.78px;
    padding-bottom: 9px;
}

.infos-card p{
    font-size: 14px;
}

.infos-card span{
    position: absolute;
    left: 16px;
    bottom: 11px;
    font-size: 12px;
    color: #0065fc;
}

.infos-card span .fa-star:nth-child(5){
    color: #f2f2f2;
}

.show-more{
    position: absolute;
    left: 5%;
    right: 82.84%;
    top: 89.3%;
    bottom: 7.35%;
    font-size: 18px;
    font-weight: 700;
}

/* Bloc de droite */
.populars-container{
    position: relative;
    width: 420px;
    height: 625px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 93px;
    background: #f2f2f2;
}

.populars-container .fa-chart-line{
    width: 18px;
    height: 15.75px;
    position: absolute;
    top: 39px;
    right: 40px;
    color: #0065FC;
}

.populars-container-title{
    position: absolute;
    top: 41px;
    left: 37px;
    font-size: 22px;
}

.populars-grid{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 2vh;
}

.populars-card{
    width: 343px;
    height: 144px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    background: white;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 10px #d9d9d9;
    transition: transform 0.2s ease-in;
}

.populars-card:hover{
    transform: scale(1.05);
}

.populars-card img {
    width: 137px;
    height: 144px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #FFFF;
}

.infos-populars-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: first baseline;
    flex-grow: 1;
    width: 169px;
    padding: 16px 22px 0 0;
}

.infos-populars-card h3{
    font-size: 16px;
    line-height: 18.78px;
    padding-bottom: 7px;
}

.infos-populars-card p{ 
    font-size: 14px;
}

.infos-populars-card span{
    position: absolute;
    bottom: 12px;
    font-size: 12px;
    color: #0065fc;
}

.infos-populars-card span .fa-star:nth-child(5){
    color: #f2f2f2;
}

/* Section du bas avec les activités */
.activities-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
}

.activities-container h2{
    padding: 50px 0 18.47px;
    font-size: 22px;
}

.activities-grid{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activities-card{
    position: relative;
    width: 302px;
    height: 445px;
    border-radius: 20px;
    box-shadow: 0 0 10px #d9d9d9;
    overflow: hidden;
}


.activities-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform .5s ease;
}

.activities-card:hover img{
    transform: scale(1.03);
}

.activities-name{
    position: absolute;
    bottom: -0.49px;
    width: 302px;
    height: 56px;
    background: #ffff;
    border-radius: 0px 0px 20px 20px;
}

.activities-name h3{
    padding: 20px 0 21px 19px;
    font-size: 16px;
    color: black;
}

/* Pied de page */
footer{
    width: 100%;
    height: auto;
    min-height: 225px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 239px;
    flex-wrap: wrap;
    padding-left: 70px;
    background: #f2f2f2;
}

.footer-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

.footer-column h3{
    font-size: 18px;
    padding: 43px 0 20px;
}

.footer-column a{
    text-decoration: none;
    color: black;
}

/* Responsive */
@media (width < 1420px){
    .top-section{
        flex-direction: column;
    }
    .hostings-container{
        width: 100%;
    }
    .populars-container{
        width: 100%;
        min-height: 278px;
        height: auto;
        margin-top: 53px;
    }
    .populars-card{
        width: 252px;
        height: 144px;
    }
    .populars-card img{
        width: 106px;
        height: 144px;
    }
    .populars-grid{
        grid-template-columns: repeat(3, auto);
        gap: 23px;
    }
    .activities-card{
        width: 202px;
        height: 287px;
    }
    .activities-name{
        width: 202px;
    }
    .activities-name h3{
        padding: 10px 10px 40px 20px;
    }
}
@media (width < 992px){
    .little-find-button{
        display: none;
    }
    .hostings-card{
        width: 246px;
        height: 199px;
    }
    .activities-container{
        width: 100%;
        margin: 0 auto 69px;
    }
    .activities-card{
        width: 182px;
        height: 267px;
    }
    .activities-name{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 182px;
        font-size: 16px;
        padding-left: 20px;
    }
    .activities-name h3{
        padding: 0;
    }
    footer{
        width: 879.65px;
        height: 225px;
        padding: 0 0 0 70.21px;
        gap: 82px;
        margin: 0 auto;
    }
}
@media (width < 926px){
    .hostings-grid{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }
    .hostings-container{
        padding: 100px 0;
    }
    .populars-container{
        padding: 100px 0 50px;
    }
    .populars-grid{
        grid-template-columns: repeat(2, auto);
    }
}
@media (width < 768px){
    body{
        padding: 0;
    }
    .navbar{
        flex-direction: column;
        margin-top: 21px;
    }
    nav{
        width: 100%;
        gap: 0;
    }
    nav a{
        text-align: center;
        width: 100%;
        position: relative;
    }

    nav a::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #f2f2f2;
        position: absolute;
        top: 35px;
        left: 0;
        transition: background-color 0.3s ease-in-out;
    }
    
    nav a:hover::before,
    nav a:focus::before,
    nav a:active::before {
        background-color: #0065FC;
    }
    h1{
        width: 80%;
        margin: 0 auto;
        padding: 40px 0 20px;
    }
    .subtitle{
        width: 80%;
        margin: 0 auto;
        padding: 0 0 10px;
    }
    form{
        justify-content: center;
        padding-bottom: 50px;
    }
    .original-find-button{
        display: none;
    }
    .little-find-button{
        display: block;
    }
    .filters{
        position: relative;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        padding-top: 40px;
    }
    .filters-title{
        position: absolute;
        top: 0;
        left: 75px;
    }
    .filters button{
        width: 160px;
        height: 55px;
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 20px;
    }
    .filters button i{
        font-size: 18px;
    }
    .infos{
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .top-section{
        flex-direction: column-reverse;
    }
    .populars-container{
        width: 100%;
        height: auto;
        min-height: 580px;
        border-radius: 0;
        padding: 80px 0 47px;
    }
    .populars-container-title{
        left: 50%;
        top: 26px;
        transform: translateX(-50%);
        padding: 0;
        margin: 0;
    }
    .populars-grid{
        grid-template-rows: repeat(3, auto);
        grid-template-columns: auto;
    }
    .populars-card{
        width: 334px;
        height: 144px;
    }
    .hostings-container{
        width: 100%;
        height: auto;
        background: #fff;
        padding: 80px 0 47px;
        border-radius: 0;
    }
    .hostings-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
    .hostings-card{
        width: 335px;
        height: 199px;
    }
    .hostings-card img{
       width: 335px;
       height: 124px; 
    }
    .hostings-container-title{
        left: 50%;
        top: 26px;
        transform: translateX(-50%);
    }
    .show-more{
        display: none;
    }
    .activities-container-title{
        margin: 0 auto;
    }
    .activities-grid{
        flex-direction: column;
        gap: 24px;
        margin: 0;
        padding: 0;
    }
    .activities-card{
        width: 334px;
        height: 190px;
    }
    .activities-name{
        width: 100%;
    }
    footer{
        height: auto;
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0 0 61px 30px;
        gap: 40px;
    }
}